/* Stylesheet */

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to right, #999999, #d8d8d8);
	display: flex;
	font-family: "Helvetica";
}

div.side-container {
	width: 213px;
	height: 625px;
	border-radius: 5px;
	float: left;
}

div.main-container {
	border-radius: 5px;
	width: 90%;
	margin: auto;
	text-align: center;
}

div.img-table {
	margin: 60px;
	padding: 10px;
	float: center;
}

#phantom-sidebar {
	width: 200px;
	float: left;
	position: fixed;
}

h1 {
	width: 150px;
	height: 250px;
	margin: 25px;
	margin-left: 10px;
	margin-top: 10px;
	color: #21201f;
	background-color: #ef6817;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

h1 a {
	font-size: 30px;
	text-align: center;
}

h2 {
	width: 400px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 15px;
}

h2 a {
	font-size: 25px;
	text-align: center;
	margin: auto;
}

h3 {
	font-size: 22px;
	margin-top: 30px;
	margin-bottom: 5px;
}

nav.navbar {
	display: flex;
	flex-direction: column;
}

nav.navbar a  {
	width: 131px;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	background-color: #4f5b66;
	color: white;
	border-radius: 5px;
}

nav.navbar a:hover {
	background-color: #a7adba;
}

li {
	text-align: left;
	margin: auto;
	margin-top: 7.5px;
	font-size: 20px;
}



